{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'boards/bootstrap-4.4.1/css/bootstrap.min.css' %}">
<div class="container">
<div class="row">
	<div class="col-sm-12">
	<h2>Ingresar</h2>
	<form method="post">
	  {% csrf_token %}
	  <div class="form-group">
	    <label for="username">Nombre de usuario</label>
	    <input type="text" class="form-control" name="username" placeholder="Ingrese su nombre de usuario">
	  </div>
	   <div class="form-group">
	    <label for="password">Contraseña</label>
	    <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña">
	  </div>
	  <button class="btn btn-primary" type="submit">Ingresar</button>
	</form>
</div>	
</div>
{% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
  				     {{field.label}}: {{ error|escape }}
				</div>
                {% endfor %}
            {% endfor %}
     
        {% endif %}
</div>