<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
		{% csrf_token %}
	    {{ pollForm.as_p }}
	 	{{ formset }}
	    <div style="margin-top: 2%">
	    	<button class="btn btn-primary" type="submit">Crear</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	    </div>
		
	</form>

      </div>

    </div>
  </div>



