{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boards/bootstrap-4.4.1/css/bootstrap.min.css' %}">
<div class="container">
{% if ultimas_preguntas_list %}
    {% for question in ultimas_preguntas_list %}
    <div class="card" >
    	<div class="row">
		  <div class="col-sm-12">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title text-center">{{ question.question_text }}</h5>
		        <p class="card-text text-center">Encuesta publicada el: {{ question.pub_date }}</p>
		        <div class="text-center"><a href="/boards/{{ question.id }}/" class="btn btn-primary ">Votar!	</a>
		        </div>		        
		      </div>
		    </div>
		  </div>	 
		  </div>
		  </div>  
		  &nbsp; 
    {% endfor %}
    
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

</div>



<p class="text-muted text-center">	<b>Polls count: {{ ultimas_preguntas_list.count }} </b></p>

</div>